<div class="main" >
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

    <i class="fa-solid fa-circle-info"></i>
    {{'Information: Select Template to Continue' | translate}}
    <button class="Access" (click)="onAccess()">{{'Click To Change Font size'|translate}}</button>
    <button class="Access" (click)="onTheme()">{{'Click To Change Themes' | translate}}</button>
  </div>

  <div>

    <app-status-bar></app-status-bar>
    <app-card-list></app-card-list>
  </div>

<!-- <app-data-table></app-data-table> -->

<!-- <app-data-table></app-data-table> -->



</div>

